//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 15 20:24:50 2019
//! **************************************************************************

SCHEMATIC START;
COMP "SW0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "SW1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "SW2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "LED0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "LED1_P81" LOCATE = SITE "P81" LEVEL 1;
COMP "LED2_P80" LOCATE = SITE "P80" LEVEL 1;
SCHEMATIC END;

