

NET "LED0_P82" LOC = P82;
NET "LED1_P81" LOC = P81;
NET "LED2_P80" LOC = P80;
NET "SW0_P66" LOC = P66;
NET "SW1_P62" LOC = P62;
NET "SW2_P61" LOC = P61;
NET "SW3_P59" LOC = P59;

# PlanAhead Generated IO constraints 

NET "SW0_P66" IOSTANDARD = LVCMOS25;
