//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 15 21:12:29 2019
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_35P44P43P33P30<0>" LOCATE = SITE "P30" LEVEL 1;
COMP "XLXN_35P44P43P33P30<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "XLXN_35P44P43P33P30<2>" LOCATE = SITE "P43" LEVEL 1;
COMP "XLXN_35P44P43P33P30<3>" LOCATE = SITE "P44" LEVEL 1;
COMP "PB1P45" LOCATE = SITE "P45" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "XLXN_34P27P29P32P34P35P40P41<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "PB3P47" LOCATE = SITE "P47" LEVEL 1;
COMP "L0P82" LOCATE = SITE "P82" LEVEL 1;
COMP "P11" LOCATE = SITE "P11" LEVEL 1;
COMP "P12" LOCATE = SITE "P12" LEVEL 1;
COMP "PB4P48" LOCATE = SITE "P48" LEVEL 1;
COMP "L1P81" LOCATE = SITE "P81" LEVEL 1;
COMP "OSCP123" LOCATE = SITE "P123" LEVEL 1;
COMP "L2P80" LOCATE = SITE "P80" LEVEL 1;
COMP "P134" LOCATE = SITE "P134" LEVEL 1;
SCHEMATIC END;

