//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 15 21:12:37 2019
//! **************************************************************************

SCHEMATIC START;
COMP "DIP<0>" LOCATE = SITE "P112" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "P111" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "P104" LEVEL 1;
SCHEMATIC END;

