//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 11 10:10:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "Com<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "XLXN_5" LOCATE = SITE "P48" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "XLXN_6" LOCATE = SITE "P47" LEVEL 1;
COMP "Com<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "XLXN_7" LOCATE = SITE "P46" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "XLXN_8" LOCATE = SITE "P45" LEVEL 1;
COMP "Com<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "Com<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "DIP<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P66" LEVEL 1;
SCHEMATIC END;

