//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 16 11:56:19 2019
//! **************************************************************************

SCHEMATIC START;
COMP "d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "g_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "P48" LOCATE = SITE "P48" LEVEL 1;
PIN P48_pin<0> = BEL "P48" PINNAME PAD;
PIN "P48_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P57" LOCATE = SITE "P57" LEVEL 1;
COMP "c_P35" LOCATE = SITE "P35" LEVEL 1;
SCHEMATIC END;

